{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">

    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">${{ product.price }}</p>


        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            <div class="quantity-selector">
                <span>Quantity:</span>
                <div class="selector-with-buttons">
                    {{ cart_product_form.quantity }} <!-- Django renders the select and options here -->
                    <div class="control-buttons">
                        <button type="button" class="quantity-change plus" aria-label="Increase quantity"></button>
                        <button type="button" class="quantity-change minus" aria-label="Decrease quantity"></button>
                    </div>
                </div>
            </div>


            <button class="add-to-cart-button-small">
                <span class="add-to-cart-button-small__vector"></span>
                <span class="add-to-cart-button-small__name">Add</span>
            </button>
        </form>


        {{ product.description|linebreaks }}
    </div>

    <script src="{% static 'js/quantity-selector.js' %}"></script>

{% endblock %}