@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0;
    margin: 0;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}



.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    border-radius:4px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.effect-underline {
    display: inline-block;
    position: relative;
    color: #27CA7D;
    transition: top ease 0.5s;
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover {
    transition: 0s;
    color: #27CA7D;
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    max-width: 1920px;
    min-height: 176px;
    left: -13px;
    top: 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    background: #FFFFFF;
}

.header-top {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    min-height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-wrap: wrap;
}

.header-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    max-width: 1170px;
    min-height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.logo-and-search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 3px;
    max-width: 670px;
    min-height: 60px;
    flex-wrap: wrap;
    order: 0;
    flex-shrink: 2;
}

.logo {
    width: 155px;
    height: 60px;
    flex-shrink: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    order: 0;
}

.search-bar {
    box-sizing: border-box;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    grid-gap: 12px;
    max-width: 471px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D4EEE2;
    border-radius: 4px;
    order: 1;
}

.search-bar input[type="text"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    max-width: 274px;
    min-width: 50px;
    height: 24px;
    padding: 4px 12px 4px 12px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    order: 1;
    align-items: center;
    gap: 4px;
    flex: none;
    flex-grow: 1;
}

.search-bar select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #fff;
    border: none;
    font-size: 14px;
    padding: 0px 12px 0px 0px;
    order: 0;
    margin-left: 0px;
    gap: 4px;
    width: 160px;
    height: 36px;
    flex: none;
    flex-grow: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #253D4E;
    cursor: pointer;
    text-align-last: center;
}

nav ul li a:hover img {
    filter: brightness(0) saturate(100%) invert(63%) sepia(36%) saturate(798%) hue-rotate(99deg) brightness(94%) contrast(94%);
    transition: 0.3s;
}

.search-bar select:hover {
    transition: 0.5s;
    color: #27CA7D;
}

.search-bar__separator {
    border-right: 0.5px solid #939393;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 40%;
    z-index: 0;
}

.hover-shadow:hover {
    box-shadow: 0px 3px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    transition: 0.3s;
}

.search-bar button {
    border: 0;
    background: #fff;
    order: 2;
    cursor: pointer;
}

.users-corner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    max-width: 480px;
    min-height: 44px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    grid-gap: 15px;
}

.dropdown-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 4px;
    width: 160px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #D4EEE2;
    cursor: pointer;
    text-align-last: center;
}

.dropdown-top-center {
    position: relative;
    flex: 1;
}

.dropdown-top-center__name {
    padding: 5px;
    line-height: 18px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #939393;
    background: inherit;
    background-size: 0%;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.dropdown-top-center__menu {
    position: absolute;
    top: calc(100% + 8px);
    left: -33px;
    width: 170px;
    background-color: #fff;
    display: none;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    white-space: nowrap;
    transition: 0.3s;
}

.dropdown-top:hover img,
.dropdown-top:hover .dropdown-top-center .dropdown-top-center__name {
    filter: brightness(0) saturate(100%) invert(63%) sepia(36%) saturate(798%) hue-rotate(99deg) brightness(94%) contrast(94%);
    transition: 0.3s;
}

.dropdown-top-center__menu ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown-top-center__menu ul li {
    width: 100%;
}

.dropdown-top-center__menu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.dropdown-top-center__menu ul li a:hover {
    background-color: #f5f5f5;
}

.dropdown-top:hover .dropdown-top-center__menu {
    display: block;
}

.user-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 12px;
}

.user-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 4px;
    text-decoration: none;
}

.user-nav-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 4px;
    height: 34px;
    transition: all 0.5s ease;
    color: #939393;
}

.user-nav-button:hover .user-nav-button__name {
    color: #27CA7D;
}

.user-nav-button-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 34px;
}

.user-nav-button-icon__vector {
    position: absolute;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5.5px;
    transition: all 0.5s ease;
    background-color: #253D4E;
}

/* base.css */
.wishlist .user-nav-button-icon__vector {
    -webkit-mask: url(../img/heart.svg) no-repeat center;
    mask: url(../img/heart.svg) no-repeat center;
}

.cart .user-nav-button-icon__vector {
    -webkit-mask: url(../img/cart.svg) no-repeat center;
    mask: url(../img/cart.svg) no-repeat center;
}

.account .user-nav-button-icon__vector {
    -webkit-mask: url(../img/account.svg) no-repeat center;
    mask: url(../img/account.svg) no-repeat center;
}

.user-nav-button:hover .user-nav-button-icon__vector {
    background-color: #27CA7D;
}

.wishlist .user-nav-button:hover .user-nav-button-icon__vector {
    -webkit-mask: url(../img/heart.svg) no-repeat center;
    mask: url(../img/heart.svg) no-repeat center;
}

.cart .user-nav-button:hover .user-nav-button-icon__vector {
    -webkit-mask: url(../img/cart.svg) no-repeat center;
    mask: url(../img/cart.svg) no-repeat center;
}

.account .user-nav-button:hover .user-nav-button-icon__vector {
    -webkit-mask: url(../img/account.svg) no-repeat center;
    mask: url(../img/account.svg) no-repeat center;
}

.user-nav-button:hover .user-nav-button-icon__vector img {
    opacity: 0;
}

.user-nav-button-icon__counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    max-width: 16px;
    height: 34px;
    z-index: 1;
}

.user-nav-button-icon__counter_appear {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2px 5px;
    max-width: 16px;
    max-height: 16px;
    background: linear-gradient(315deg, #19C179 -0.12%, #4FE58A 99.88%);
    border-radius: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.user-nav-button__name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #939393;
    transition: all 0.5s ease;
}

.header-bot {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 10px;
    width: 100%;
    max-width: 1920px;
    min-height: 76px;
    border-width: 0.5px 0px;
    border-style: solid;
    border-color: #b38787;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media (max-width: 750px) {
    .header-top-content {
        flex-direction: column;
        grid-gap: 10px;
    }

    .search-bar {
        margin: 10px 0;
    }
}

@media (max-width: 319px) {
    .button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .search-bar select {
        width: 130px;
        background-position: right 0px top 50%;
    }

    .search-bar input {
        width: 85px;
    }

    .search-bar__separator {
        left: 45%;
    }
}

@media (max-width: 1100px) {
    .logo-and-search {
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    .users-corner {
        flex-direction: column;
    }
}

.header-bot {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 10px;
    max-width: 1920px;
    min-height: 76px;
    border-width: 0.5px 0px;
    border-style: solid;
    border-color: #939393;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header-bot-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    max-width: 1170px;
    min-height: 44px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.dropdown-bot {
    width: 250px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 5px 14px;
    background: linear-gradient(315deg, #19C179 -0.12%, #4FE58A 99.88%);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.dropdown-bot:hover {
    background: #17a56a;
    transition: 0s;
}

.dropdown-bot__icon {
    margin-right: 8px;
}

.dropdown-bot-center {
    position: relative;
    flex: 1;
}

.dropdown-bot-center__name {
    padding: 5px;
    line-height: 18px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background: inherit;
    background-size: 0%;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.dropdown-bot-center__menu {
    position: absolute;
    top: calc(100% + 8px);
    left: -47px;
    width: 280px;
    background-color: #fff;
    display: none;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    white-space: nowrap;
}

.dropdown-bot-center__menu ul {
    position: relative;
    left: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown-bot-center__menu ul li {
    width: 100%;
}

.dropdown-bot-center__menu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    left: 0%;
}

.dropdown-bot-center__menu ul li a:hover {
    background-color: #f5f5f5;
}

.dropdown-bot:hover .dropdown-bot-center__menu {
    display: block;
}

@media screen and (max-width: 1100px) {
    .header_bot {
        max-width: 100%;
        width: 100%;
    }

    .header-bot-content {
        flex-direction: column;
        width: 100%;
    }
}

.site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 470px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    grid-gap: 7px;
}

nav ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #253D4E;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
}

nav ul li a img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

nav ul li a:hover img {
    filter: brightness(0) saturate(100%) invert(63%) sepia(36%) saturate(798%) hue-rotate(99deg) brightness(94%) contrast(94%);
    transition: 0.3s;
}

nav ul li:hover>a {
    transition: 0.5s;
    color: #27CA7D;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    z-index: 1;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
    position: relative;
}

nav ul li ul li a {
    padding: 20px;
}

nav ul li ul li:hover>a {
    background-color: #efefef;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    grid-gap: 20px;
    height: 38px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.hover-filter-green:hover {
    filter: brightness(0) saturate(100%) invert(63%) sepia(36%) saturate(798%) hue-rotate(99deg) brightness(94%) contrast(94%);
    transition: 0.3s;
}

.filter-gray {
    filter: brightness(0) saturate(100%) invert(65%) sepia(7%) saturate(15%) hue-rotate(18deg) brightness(89%) contrast(87%);
}

.filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(311deg) brightness(104%) contrast(98%);
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    grid-gap: 10px;
    width: 139px;
    height: 38px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.social-media a {
    display: flex;
}

.facebook {
    justify-content: center;
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.twitter {
    justify-content: center;
    width: 20px;
    height: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.instagram {
    width: 20px;
    height: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.youtube {
    justify-content: center;
    width: 20px;
    height: 18px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.whatsapp {
    justify-content: center;
    width: 20px;
    height: 20px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.phone-calls {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 12px;
    grid-gap: 8px;
    height: 38px;
    border-left: 0.5px solid #939393;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.phone-calls__icon {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phone-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    grid-gap: 4px;
    height: 38px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.phone-details__number {
    height: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #253D4E;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phone-details__time {
    width: 95px;
    height: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #939393;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (max-width: 480px) {
    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        grid-gap: 20px;
        height: 38px;
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .phone-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        grid-gap: 4px;
        height: 38px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .phone-details__number {
        height: 22px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #253D4E;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}


