.add-to-cart-button-small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 12px;
    background: #D4EEE2;
    border-radius: 4px;
    cursor: pointer;
    border: none; /* Add if you want to remove the default button border */
}

.add-to-cart-button-small:hover {
    background: #d7e3c8;
}

.add-to-cart-button-small__vector {
    width: 24px;
    height: 24px;
    background-image: url(../img/cart_green.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.add-to-cart-button-small__name {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 14px;
    color: #27CA7D;
    display: block; /* Ensures the span takes the full space allocated to it, similar to a div */
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjust to manage spacing */
    width: 140px; /* Increased width */
    height: 44px;
    background: #FFFFFF;
    border: 0.5px solid #939393;
    border-radius: 4px;
    /* padding: 10px; */
    gap: 0px; /* Can reduce if needed */
}

.quantity-selector span {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #27CA7D;
}


.selector-with-buttons {
    display: flex;
    align-items: center;
    position: relative;
}

.quantity-selector select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #27CA7D;
    text-align: center;
    width: 24px; /* Adjusted width */
    height: 100%; /* Takes full height of the container */
    flex-grow: 0;
    flex-shrink: 1;
}

.control-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.quantity-change {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.quantity-change.minus {
    background: url(../img/arrowdown.svg) no-repeat center;
}

.quantity-change.plus {
    background: url(../img/arrowdown.svg) no-repeat center;
    transform: rotate(180deg); /* Rotates the plus button */
}
